
.container {
    position: relative;
    width: 50vw;
    height: 90vh;
    margin: 3rem auto;
    border: 2px rgb(202, 150, 234) solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
.faq-img{
    height: 32%;
    width: auto;
}
.back-link {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 2rem;
    border: none;
    text-align: center;
    position: absolute;
  }
  
  .next-link {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 2rem;
    border: none;
    text-align: center;
    position: absolute;
  }

  .intro-text-wrapper {
    width: 60%;
    margin: 0 auto;
    background-color: #a179fd9a;
    border-radius: 25px;
    line-height: 1.5rem;
    padding: 1rem 2rem;
    font-size: large;
  }